body {
	background-color: #1a1a1a;
	margin: 0;
	font-family: CaskaydiaCove Nerd Font;
	display: grid;
}

html {
	scroll-behavior: smooth;
}  

#progress {
	position: fixed;
	bottom: 20px;
	right: 20px;
	height: 60px;
	width: 60px;
	display: none;
	place-items: center;
	border-radius: 100%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	z-index: 1000;
}

#progress-value {
  	display: block;
  	height: calc(100% - 15px);
  	width: calc(100% - 15px);
  	background-color: #ffffff;
  	border-radius: 100%;
  	display: grid;
  	place-items: center;
  	font-size: 35px;
  	color: #001a2e;
  	-webkit-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}

.banner {
	width: 90%;
	height: 80vh;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 100px;
	border-radius: 0.75rem;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(255,255,255,0.5);
	background-color: rgba(255, 255, 255, 0.308);
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	align-content: center;
	text-align: center;
	vertical-align: middle;
	justify-content: center;
}

#banner_text {
	width: 512px;
	height: 256px;
	margin-left: 50px;
	display: flex;
	flex-direction: column;
	margin-right: 25px;
	align-items: stretch;
	justify-content: center;
	align-content: center;
}

#banner_text_top {
	font-size: 35px;
	margin-bottom: 0%;
	color: white;
}

#banner_text_bottom {
	color: white;
}

#banner_profile {
	width: 256px;
	height: 256px;
	background-color: black;
	margin-left: 25px;
	border-radius: 100%;
}

#profile {
	width: 256px;
	height: 256px;
	border-radius: 100%;
}

.test {
	height: 10000px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 38%);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #16ff00;
}

::-webkit-scrollbar-track {
    background: #001a2e;
}

::-webkit-scrollbar-button {
    background: #001a2e;
}

#languages {
	width: 90%;
	height: 80vh;
	margin-top: 7%;
	margin-left: 5%;
	margin-right: 5%;
	/* background-color: rgba(255, 255, 255, 0.5); */
	display: flex;
	/* border: solid 3px white;
	border-radius: 0.75rem; */
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

#languages_text {
	height: auto;
	width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#languages_buttons {
	display: grid;
	height: auto;
	width: 30%;
	grid-template-columns: auto auto;
	align-content: center;
	justify-content: center;
	align-items: stretch;
	justify-items: stretch;
	row-gap: 5px;
	column-gap: 5px;
	margin-left: 4%;
}

.languages_button {
	width: 150px;
	height: 150px;
	background-color: rgba(155, 155, 155, 0.795);
	border-radius: 1rem;
	border: solid 3px;
	border-color: rgba(255, 255, 255, 0.781);
	display: flex;
	justify-content: center;
	align-items: center;
}

.languages_button {
	width: 150px;
	height: 150px;
	background-color: rgb(155, 155, 155,);
	border-radius: 1rem;
	border: solid 3px;
	border-color: rgba(255, 255, 255, 0.781);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.languages_button:hover {
	background-color: rgba(155, 155, 155, 0.555);
}

#divider {
	transition: transform  250ms ease;
}

#divider:hover {
	transform: scale(1.1);
	transition-duration: 350ms;
}

#shake:hover {
	animation: shake 0.8s;
}

@keyframes shake{
	0%{
		transform: translateX(0px) translateY(0px);
	}
	25%{
		transform: translateX(25px) translateY(25px);
	}
	50%{
		transform: translateX(-25px) translateY(-25px);
	}
	100%{
		transform: translateX(0px) translateY(0px);
	}
}



























/* Explode */
#explode > .letter {
	display: inline-block;
	transition: transform 350ms ease;
	color: white;
}

#explode:hover > .letter {
	transition-duration: 800ms;
}

#explode:hover > .letter:nth-child(1) {
	transform: translate(-80%, 60%) rotate(8deg);
}

#explode:hover > .letter:nth-child(2) {
	transform: translate(80%, -60%) rotate(90deg);
}

#explode:hover > .letter:nth-child(3) {
	transform: translate(-80%, 60%) rotate(-8deg);
}

#explode:hover > .letter:nth-child(4) {
	transform: translate(80%, 60%) rotate(20deg);
}

#explode:hover > .letter:nth-child(5) {
	transform: translate(-80%, -60%) rotate(20deg);
}

#explode:hover > .letter:nth-child(6) {
	transform: translate(-50%, 70%) rotate(-45deg);
}

#explode:hover > .letter:nth-child(7) {
	transform: translate(10%, 40%) rotate(2deg);
}

#explode:hover > .letter:nth-child(8) {
	transform: translate(-10%, -60%) rotate(-1deg);
}

#explode:hover > .letter:nth-child(9) {
	transform: translate(-80%, 60%) rotate(25deg);
}
/* Explode */